<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         id="application"
         point="org.eclipse.core.runtime.applications">
		<application>
			<run
               class="mishanesterenko.changevisualizer.Application">
			</run>
		</application>
	</extension>
	<extension
         point="org.eclipse.ui.perspectives">
		<perspective
            name="Perspective"
            class="mishanesterenko.changevisualizer.Perspective"
            id="changeVisualizer.perspective">
		</perspective>
	</extension>
	<extension
         point="org.eclipse.ui.views">
  <view
        class="org.eclipse.ui.navigator.CommonNavigator"
        icon="icons/sample.gif"
        id="changeVisualizer.view.projectsView"
        name="Projects">
  </view>
	</extension>
	<extension
         point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="changeVisualizer.perspective">
       <view
             closeable="true"
             id="changeVisualizer.view.projectsView"
             minimized="false"
             ratio="0.25"
             relationship="left"
             relative="org.eclipse.ui.editorss">
       </view>
    </perspectiveExtension>
	</extension>
	<extension
         point="org.eclipse.ui.menus">
		<menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
			<menu
               label="File">
				<command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
				</command>
			</menu>
		</menuContribution>
	</extension>
	<extension
         id="product"
         point="org.eclipse.core.runtime.products">
		<product
            application="changeVisualizer.application"
            name="Change Visualizer">
			<property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
			</property>
		</product>
	</extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="changeVisualizer.wizardcategory.changevisualizations"
          name="Change Visualizations">
    </category>
    <wizard
          category="changeVisualizer.wizardcategory.changevisualizations"
          class="mishanesterenko.changevisualizer.wizard.SvnWizard"
          icon="icons/svn.png"
          id="changeVisualizer.wizard.svnwizard"
          name="SVN Visualization Project">
    </wizard>
 </extension>
 <extension point="org.eclipse.ui.navigator.viewer">
    <viewer viewerId="changeVisualizer.view.projectsView" />
    <viewerActionBinding viewerId="changeVisualizer.view.projectsView">
       <includes>
          <actionExtension
                pattern="org.eclipse.ui.navigator.resources.*">
          </actionExtension>
       </includes>
    </viewerActionBinding>
    <viewerContentBinding viewerId="changeVisualizer.view.projectsView">
       <includes>
          <contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />
          <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*" />
          <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper" />
          <contentExtension pattern="org.eclipse.ui.navigator.resources.workingSets" />
       </includes>
    </viewerContentBinding>
 </extension>
 <extension
       id="changeVisualizer.nature.svn"
       name="Svn project"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="mishanesterenko.changevisualizer.nature.Svn">
       </run>
    </runtime>
 </extension>
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/svn.png"
          id="changeVisualizer.nature.svn.image"
          natureId="changeVisualizer.nature.svn">
    </image>
 </extension>

</plugin>
