<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="application" point="org.eclipse.core.runtime.applications">
		<application>
			<run class="mishanesterenko.changevisualizer.Application" />
		</application>
	</extension>
	<extension point="org.eclipse.ui.perspectives">
		<perspective
            name="Perspective"
            class="mishanesterenko.changevisualizer.Perspective"
            id="changeVisualizer.perspective">
		</perspective>
	</extension>
	<extension point="org.eclipse.ui.views">
        <view class="org.eclipse.ui.navigator.CommonNavigator" id="changeVisualizer.view.projectsView" name="Projects" />
        <view class="mishanesterenko.changevisualizer.view.HistoryView" id="changeVisualizer.view.history" name="Commits" />
        <view
              class="mishanesterenko.changevisualizer.view.ChangesVisualization"
              id="changeVisualizer.view.visualization"
              name="Changes Graph"
              restorable="true">
        </view>
	</extension>
	<extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="changeVisualizer.perspective">
            <view closeable="true" id="changeVisualizer.view.projectsView" minimized="false" ratio="0.15" relationship="left"
                relative="org.eclipse.ui.editorss" />
        </perspectiveExtension>
        <perspectiveExtension targetID="changeVisualizer.perspective">
            <view closeable="true" id="changeVisualizer.view.history" minimized="false" ratio="0.55" relationship="bottom"
                relative="org.eclipse.ui.editorss" />
        </perspectiveExtension>
        <perspectiveExtension
              targetID="changeVisualizer.perspective">
           <view
                 closeable="true"
                 id="changeVisualizer.view.visualization"
                 minimized="false"
                 moveable="true"
                 ratio="0.15"
                 relationship="top"
                 relative="org.eclipse.ui.editorss">
           </view>
        </perspectiveExtension>
    </extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu">
			<menu label="File">
				<command commandId="org.eclipse.ui.file.exit" label="Exit" />
			</menu>
			<menu label="Window">
		      <command commandId="org.eclipse.ui.views.showView"/>
			</menu>
		</menuContribution>
        <menuContribution locationURI="popup:changeVisualizer.view.projectsView.popup#PopupMenu?after=additions">
            <command commandId="org.eclipse.ui.edit.delete" style="push" >
                <visibleWhen checkEnabled="false">
                    <adapt type="java.util.Collection">
                        <count value="1" />
                    </adapt>
                </visibleWhen>
            </command>
        </menuContribution>
        <menuContribution locationURI="popup:changeVisualizer.view.projectsView.popup#PopupMenu?after=properties">
            <command commandId="org.eclipse.ui.file.properties">
                <visibleWhen checkEnabled="false">
                    <adapt type="java.util.Collection">
                        <count value="1" />
                    </adapt>
                </visibleWhen>
            </command>
        </menuContribution>
	</extension>
	<extension id="product" point="org.eclipse.core.runtime.products">
		<product application="changeVisualizer.application" name="Change Visualizer">
			<property name="windowImages" value="icons/alt_window_16.gif,icons/alt_window_32.gif" />
            <property name="appName" value="Change Visualizer" />
		</product>
	</extension>
 <extension point="org.eclipse.ui.newWizards">
    <category id="changeVisualizer.wizardcategory.changevisualizations" name="Change Visualizations">
    </category>
    <wizard
          category="changeVisualizer.wizardcategory.changevisualizations"
          class="mishanesterenko.changevisualizer.wizard.SvnWizard"
          icon="icons/svn.png"
          id="changeVisualizer.wizard.svnwizard"
          name="SVN Visualization Project">
    </wizard>
 </extension>
 <extension point="org.eclipse.ui.navigator.viewer">
    <viewer viewerId="changeVisualizer.view.projectsView">
        <popupMenu allowsPlatformContributions="true" id="changeVisualizer.view.projectsView.popup#PopupMenu">
            <insertionPoint name="group.new" />
            <insertionPoint name="additions" separator="true"/>
            <insertionPoint name="properties" separator="true"/>
       </popupMenu>
    </viewer>
    <viewerActionBinding viewerId="changeVisualizer.view.projectsView">
       <includes>
            <actionExtension pattern="org.eclipse.ui.navigator.resources.NewActions" />
            <actionExtension pattern="mishanesterenko.changevisualizer.action.provider.CustomNewActionProvider" />
            <actionExtension pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider"/>
       </includes>
    </viewerActionBinding>
    <viewerContentBinding viewerId="changeVisualizer.view.projectsView">
       <includes>
          <contentExtension
                isRoot="true"
                pattern="changeVisualizer.view.projectsView.content">
          </contentExtension>
       </includes>
    </viewerContentBinding>
 </extension>
 <extension
       id="changeVisualizer.nature.svn"
       name="Svn project"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run class="mishanesterenko.changevisualizer.nature.Svn" />
    </runtime>
 </extension>
 <extension point="org.eclipse.ui.ide.projectNatureImages">
    <image icon="icons/svn.png" id="changeVisualizer.nature.svn.image" natureId="changeVisualizer.nature.svn" />
 </extension>
 <extension point="org.eclipse.ui.activities">
    <activity id="changeVisualizer.activity.disableStandard" name="Disables inherited standard features" />
    <activityPatternBinding activityId="changeVisualizer.activity.disableStandard" isEqualityPattern="false"
          pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.wizards\.new\..*" />
    <activityPatternBinding activityId="changeVisualizer.activity.disableStandard" isEqualityPattern="true"
          pattern="org.eclipse.ui.editors/org.eclipse.ui.editors.wizards.UntitledTextFileWizard" />
    <activityPatternBinding activityId="changeVisualizer.activity.disableStandard" isEqualityPattern="false"
          pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.views\..*" />
    <activityPatternBinding activityId="changeVisualizer.activity.disableStandard" isEqualityPattern="false"
          pattern="org\.eclipse\.ui\.views/org\.eclipse\.ui\.views\..*" /> 
    <activityPatternBinding activityId="changeVisualizer.activity.disableStandard" isEqualityPattern="true"
          pattern="org.eclipse.ui.navigator.resources/org.eclipse.ui.navigator.ProjectExplorer" />
    <activityPatternBinding activityId="changeVisualizer.activity.disableStandard" isEqualityPattern="false"
          pattern="org\.eclipse\.team\.ui/org\.eclipse\.team\..*" />
    <activityPatternBinding activityId="changeVisualizer.activity.disableStandard" isEqualityPattern="false"
          pattern="org\.eclipse\.ui\.ide/org\.eclipse\.ui\.propertypages\..*" />
    <activityPatternBinding activityId="changeVisualizer.activity.disableStandard" isEqualityPattern="true"
          pattern="org.eclipse.ltk.ui.refactoring/org.eclipse.ltk.ui.refactoring.property.page" />
 </extension>
 <extension point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="mishanesterenko.changevisualizer.content.provider.ProjectsContentProvider"
          id="changeVisualizer.view.projectsView.content"
          labelProvider="mishanesterenko.changevisualizer.content.provider.ProjectsLabelProvider"
          name="Projects content">
       <triggerPoints>
          <instanceof value="org.eclipse.core.resources.IWorkspaceRoot" />
       </triggerPoints>
       <possibleChildren>
         <instanceof value="mishanesterenko.changevisualizer.projectmodel.CustomProject">
         </instanceof>
       </possibleChildren>
       <actionProvider class="mishanesterenko.changevisualizer.action.provider.CustomNewActionProvider"
            id="mishanesterenko.changevisualizer.action.provider.CustomNewActionProvider"
            dependsOn="org.eclipse.ui.navigator.resources.NewActions">
          <enablement>
             <or>
                <instanceof value="mishanesterenko.changevisualizer.projectmodel.CustomProject" />
                <adapt type="java.util.Collection">
                   <count value="0" />
                </adapt>
             </or>
          </enablement>
       </actionProvider>
       <commonWizard type="new" wizardId="changeVisualizer.wizard.svnwizard">
          <enablement></enablement>
       </commonWizard>
    </navigatorContent>
 </extension>
 <extension point="org.eclipse.core.expressions.definitions">
    <definition id="changeVisualizer.definitions.inProjectsView">
        <with variable="activePartId">
              <equals value="changeVisualizer.view.projectsView" />
        </with>
    </definition>
 </extension>
 <extension point="org.eclipse.ui.handlers">
    <handler class="mishanesterenko.changevisualizer.command.handler.DeleteResourceCommandHandler"
          commandId="org.eclipse.ui.edit.delete">
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page class="mishanesterenko.changevisualizer.propertypage.SvnPropertyPage" id="changeVisualizer.property.svnProperties"
          name="Svn Repository" selectionFilter="single">
          <enabledWhen>
             <instanceof value="mishanesterenko.changevisualizer.projectmodel.CustomProject" />
          </enabledWhen>
    </page>
 </extension>

</plugin>
